{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login - Sistema de Resíduos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="[https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css](https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css)">
    <style>

    </style>
</head>
<body>
    <div class="content">


                 <img src="{% static 'img/logotipo.png' %}" class="logo">


        <div class="content-tabela">
              <form method="post">
                    {% csrf_token %}
            <fieldset>
                <legend>Acesso ao Sistema</legend>
                
                {% if form.errors %}
                    <p>Usuário ou senha incorretos.</p>
                {% endif %}

  
                    <table>
                        <tr>
                            <td><label>Usuário</label></td>
                        </tr>
                        <tr>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td><label>Senha</label></td>
                        </tr>
                        <tr>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit">
                                    <i class="fa-solid fa-right-to-bracket"></i> Entrar
                                </button>
                            </td>
                        </tr>
                    </table>
              
            </fieldset>
              </form>
        </div>
    </div>
</body>
</html>