{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Resíduo</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>
<body>

<div class="sidenav">

        <a href="/"><i class="fa-solid fa-house"></i> Início</a>
<div class="sidenav-section-title">Consultas</div>
    
    <a href="#"><i class="fa-solid fa-location-dot"></i> Consulta locais</a>
    <a href="#"><i class="fa-solid fa-recycle"></i> Tipos de resíduos</a>
    <div class="sidenav-section-title">Administração</div>
    <a href="{% url 'cadastrar_residuo' %}"><i class="fa-solid fa-pen-to-square"></i> Cadastrar resíduo</a>
    <a href="{% url 'cadastrar_local' %}"><i class="fa-solid fa-pen-to-square"></i> Cadastrar local</a>
    {% if user.is_authenticated %}
    <!-- Outros links administrativos -->
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn-reset">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
        </button>
    </form>
    {% endif %}


</div>

<div class="content">

      <header>
        <img src="{% static 'img/logotipo.png' %}" class="logo">
    </header>

<div class="content-tabela">

    {% if messages %}
      {% for message in messages %} 
       <br>
        <div class="alert-success">
            <i class="fa-solid fa-circle-check"></i> {{ message }}
        </div>
      {% endfor %}
    {% endif %}

<form method="post">
    {% csrf_token %}
   
  <fieldset>
    <legend>Novo Tipo de Resíduo</legend>
    
    <table>
      <tr>
        <td>
          <label for="nome_residuo">Descrição</label>
        </td>
        <td>
          <input type="text" id="nome_residuo" name="nome" placeholder="Ex: Monitor CRT, Bateria de Lítio" required>
        </td>
      </tr>
      
      <tr>
        <td></td> <td>
          <button type="submit">
            Cadastrar
          </button>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
</div>
</div>
</body>

</html>