{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sustentabilidade em um clique</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div class="sidenav">

    <a href="/"><i class="fa-solid fa-house"></i> Início</a>
<div class="sidenav-section-title">Consultas</div>
    
    <a href="{% url 'consultar_locais' %}"><i class="fa-solid fa-location-dot"></i> Consultar locais</a>
    <a href="{% url 'consultar_residuo' %}"><i class="fa-solid fa-recycle"></i> Tipos de resíduos</a>
    <div class="sidenav-section-title">Administração</div>
    <a href="{% url 'cadastrar_residuo' %}"><i class="fa-solid fa-pen-to-square"></i> Cadastrar resíduo</a>
    <a href="{% url 'cadastrar_local' %}"><i class="fa-solid fa-pen-to-square"></i> Cadastrar local</a>
    {% if user.is_authenticated %}
    <!-- Outros links administrativos -->
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn-reset">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
        </button>
    </form>
    {% endif %}



</div>

<div class="content">



    <header>
        <img src="{% static 'img/logotipo.png' %}" class="logo">
    </header>

<div class="content-tabela">
    
                <fieldset>
                <legend>Bem-vindos</legend>

    <table>
        <tr>
            <td><h2>O que você deseja descartar hoje?</h2></td>
        </tr>
 <tr>
            <td>
        <form action="{% url 'lista_locais_tipo' %}" method="get">
                    <input type="text" name="q" placeholder="Ex: Bateria, Papel, Óleo..." style="padding: 10px; width: 60%; border-radius: 4px; border: 1px solid #ccc;">
                    <button type="submit">Buscar</button>
                </form>
                </td></tr>

                        <tr>
            <td><h2>Buscar locais próximos de você</h2></td>
        </tr>
 <tr>
            <td>
                <form action="{% url 'lista_locais_tipo' %}" method="get">
                    <input type="text" name="q" placeholder="Ex: Bateria, Papel, Óleo..." style="padding: 10px; width: 60%; border-radius: 4px; border: 1px solid #ccc;">
                    <button type="submit">Buscar</button>
                </form>
                </td></tr>


        


    </table>

    </fieldset>

    </div>
</div>
</body>
</html>