{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar local</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <div class="sidenav">

        <a href="/"><i class="fa-solid fa-house"></i> Início</a>
<div class="sidenav-section-title">Consultas</div>
    
    <a href="#"><i class="fa-solid fa-location-dot"></i> Consulta locais</a>
    <a href="#"><i class="fa-solid fa-recycle"></i> Tipos de resíduos</a>
    <div class="sidenav-section-title">Administração</div>
    <a href="{% url 'cadastrar_residuo' %}"><i class="fa-solid fa-pen-to-square"></i> Cadastrar resíduo</a>
    <a href="{% url 'cadastrar_local' %}"><i class="fa-solid fa-pen-to-square"></i> Cadastrar local</a>
    {% if user.is_authenticated %}
    <!-- Outros links administrativos -->
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn-reset">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
        </button>
    </form>
    {% endif %}


</div>

  <div class="content">

          <header>
        <img src="{% static 'img/logotipo.png' %}" class="logo">
    </header>

        {% if messages %}
      {% for message in messages %} 
       <br>
        <div class="alert-success">
            <i class="fa-solid fa-circle-check"></i> {{ message }}
        </div>
      {% endfor %}
    {% endif %}

<div class="content-tabela">

<form method="post">
    {% csrf_token %}
  <fieldset>
    <legend>Cadastro de Local de Descarte</legend>
    
    <table>
      <tr>
        <td><label for="nome">Nome</label></td>
        <td>
          <input type="text" id="nome" name="nome" required>
        </td>
      </tr>

      <tr>
        <td><label for="cep">CEP</label></td>
        <td><input type="text" id="cep" name="cep" placeholder="00000-000"></td>
        </tr>
        <td><label for="id_cidade">Cidade</label></td>
        <td>
          <select id="id_cidade" name="id_cidade">
            <option value="">Selecione a cidade...</option>
            {% for cidade in cidade %}
              <option value="{{ cidade.id_cidade }}">{{ cidade.nome }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <td><label for="logradouro">Logradouro:</label></td>
        <td><input type="text" id="logradouro" name="logradouro"></td>
      </tr>

      <tr>
        <td><label for="numero">Número</label></td>
        <td><input type="text" id="numero" name="numero"></td>
        </tr>
        <tr>
        <td><label for="complemento">Complemento</label></td>
        <td><input type="text" id="complemento" name="complemento"></td>
      </tr>

      <tr>
        <td><label for="bairro">Bairro</label></td>
        <td><input type="text" id="bairro" name="bairro"></td>
      </tr>

      <tr>
        <td><label for="latitude">Latitude</label></td>
        <td><input type="number" id="latitude" name="latitude" step="any"></td>
        </tr>
        <tr>
        <td><label for="longitude">Longitude</label></td>
        <td><input type="number" id="longitude" name="longitude" step="any"></td>
      </tr>

      <tr>
        <td><label for="telefone">Telefone</label></td>
        <td><input type="tel" id="telefone" name="telefone" placeholder="(00) 0000-0000"></td>
        </tr>
        <tr>
        <td><label for="site">Site</label></td>
        <td><input type="url" id="site" name="site" placeholder="https://..."></td>
      </tr>

      <tr>
        <td><label for="horario">Horário</label></td>
        <td>
          <input type="text" id="horario" name="horario" placeholder="Ex: Seg a Sex das 08:00 às 18:00">
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <input type="reset" class="btn-reset" value="Limpar">
          <button type="submit">
            Cadastrar
          </button>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
</div>
</div>
</body>

</html>

